footer {
    .newsletter p {
        font-size: 1rem;
    }
    span.color {
        color: $orange500;
    }
    ul li a img {
        width: 2.5rem;
    }
    a {
        color: inherit !important;
    }
}
