
// Body
$body-bg: #f5f8fa;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$text-color: #582404;

$title-font-family: "Kaushan Script";

// Navbar
$navbar-default-bg: #fff;

// Panels
$panel-default-heading-bg: #fff;

// Buttons
$btn-default-color: $text-color;
$btn-primary-bg: #FFB85C;
