
// Fonts
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Bootstrap customization
@media (max-width: 991.98px) {
    .navbar-expand-lg > .container {
        padding-left: 15px !important;
        padding-right: 15px !important;
        padding-bottom: 15px !important;
    }

}

.btn-primary {
    background-color: $orange500;
    border-color: $orange500;

    &:hover {
        background-color: $orange300;
        border-color: $orange300;
    }
    &:not(:disabled):not(.disabled):active {
        background-color: $orange700;
        border-color: $orange700;
    }
    &:not(:disabled):not(.disabled):active:focus {
        box-shadow: none;
    }
    &:focus {
        box-shadow: none;
    }
    &.disabled {
        background-color: $orange50;
        border-color: $orange50;
    }
    &:disabled {
        background-color: $orange200;
        border-color: $orange200;
    }
}

.btn-outline-primary {
    border-color: $orange500;
    color: white;

    &:hover {
        background: $orange300;
        border-color: $orange300;
    }
    &:not(:disabled):not(.disabled):active {
        background-color: $orange700;
        border-color: $orange700;
    }
    &:not(:disabled):not(.disabled):active:focus {
        box-shadow: none;
    }
    &:focus {
        box-shadow: none;
    }
}

// General
body {
    $font-family: "Open Sans";
}

nav.navbar {
    padding: 0;
    box-shadow: 0px 2px 3px #ab5c0c;
    font-size: 1.125rem;

    .navbar-brand {
        padding: 0;
    }
}

p, ul li {
    color: $text-color;
}

img.logo
{
    width: 100px;
    height: 100px;

    &:hover {
        transform: scale(1.05);
        -webkit-filter: drop-shadow(0px 5px 5px #rgba(0,0,0,0));
        filter: drop-shadow(0px 5px 5px rgba(0,0,0,0.2));
    }
}

img.portrait {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

// Home page

@media (max-width: 576px) {
    section.promo {
        h1 {
            font-size: 3.25rem;
        }
    }
}

@media (min-width: 577px) {
    section.promo {
        h1 {
            font-size: 5.5rem;
        }
    }
}

section.promo {
    height: 50vh;

    .background {
        background-image: url('/images/header.jpg');
        background-size: cover;
        // z-index: 10;
    }
    .overlay {
        background-color: rgba(0, 0, 0, 0.2);
        // z-index: 11;
        top: 0;
    }
    h1 {
        font-family: $title-font-family;
        text-shadow: 2px 2px 3px black;
        color: white;
    }
    p {
        font-size: 1.2rem;
        text-shadow: 1px 1px 2px black;
        color: white;
    }
}

@media (max-width: 576px) {
    section.intro div.intro-text {
        margin-top: 2rem;
        margin-left: 0;
        &::before {
            content: none;
        }
    }
}

@media (min-width: 769px) {
    section.intro div.intro-text {
        margin-left: 3.5rem;
    }
}

section.intro {
    .intro-text {
        background: #ffffff;
        padding: 1.5rem;
        border-radius: 1rem;
        box-shadow: 2px 2px 5px #ffa500b3;
        position: relative;
        &::before {
            content: "\A";
            position: absolute;
            background-color: white;
            width: 30px;
            height: 30px;
            left: -15px;
            top: 38px;
            box-shadow: 2px 2px 6px #ffa500b3;
            transform: rotate(45deg);
            z-index: -1;
        }
    }
    h2 {
        font-family: $title-font-family;
        margin-bottom: 1rem;
        color: $orange500;
    }
    p {
        margin-bottom: 0;
    }
}

section.menu {
    h2 {
        font-family: $title-font-family;
        font-size: 3rem;
        color: $orange500;
    }
    h3 {
        color: $orange500;
    }
    .card {
        border:none;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.05), 0 6px 20px 0 rgba(0,0,0,0.05);
        overflow: hidden;

        .tag {
            background-color: $orange400;
            color: white;
            font-weight: 600;
            width: 190px;
            position: absolute;
            transform: rotate(45deg);
            right: -37px;
            top: 43px;
            padding-top: 2px;
            padding-bottom: 2px;
            font-size: 1rem;
        }
    }
    .btn-big {
        width: 260px;
    }
}

section.order {
    .order-header {
        background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 33, 82, 0.7)), to(rgba(255, 167, 0, 0.7)));
        background-image: linear-gradient(0deg, rgba(255, 33, 82, 0.7), rgba(255, 167, 0, 0.7));
        background-size: cover;
        h1 {
            font-family: $title-font-family;
            font-size: 3.25rem;
        }
        p {
            font-size: 1rem;
        }
    }
    .order-nav {
        font-size: 1rem;
        margin-top: 0.5rem;
        ul li a.nav-link {
            color: black;
            &:hover {
                background-color: $orange300;
                color: white;
            }
        }
    }
    .order-cart {
        .card-footer {
            font-weight: 600;
        }
    }
    .order-menu {
        button i.material-icons {
            color: $orange500;
        }
        button:hover i.material-icons {
            color: white;
        }
    }
    h2 {
        font-family: $title-font-family;
        font-size: 2.5rem;
        // color: $orange500;
    }
    h3 {
        color: $orange500;
        small {
            font-size: 60%;
        }
    }
}

footer {
    .newsletter p {
        font-size: 1rem;
    }
    span.color {
        color: $orange500;
    }
    ul li a img {
        width: 2.5rem;
    }
    a {
        color: inherit !important;
    }
}
