
// Fonts
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

/**
 * Tailwind's base styles
 */
@tailwind preflight;

/**
 * Component classes registered by plugins.
 */
@tailwind components;

/**
 * Custom components
 */
@import "~vue2-animate/src/sass/vue2-animate.scss";

@import "tooltips";

/**
 * Tailwind's utility classes
 */
@tailwind utilities;

/**
 * Custom utilities
 */

.intro {
    @apply .relative;
    box-shadow: 2px 2px 5px #ffa500b3;
    &::before {
        content: none;
    }
}

@screen sm {

    .intro {
    // z-index: 0;

        &::before {
            content: "\A";
            @apply .absolute .bg-white .w-8 .h-8;
            left: -15px;
            top: 75px;
            box-shadow: 2px 2px 6px #ffa500b3;
            transform: rotate(45deg);
            z-index: -1;
        }
    }
}

.card-tag {
    @apply .bg-orange .text-white .font-semibold .text-center .absolute;
    width: 190px;
    transform: rotate(45deg);
    right: -37px;
    top: 43px;
    padding-top: 2px;
    padding-bottom: 2px;
    z-index: 1;
}

.zoom-wrapper {
    overflow: hidden;
    max-height: 300px;

    img {
        @apply .w-full;
        height: 300px;
        transition: transform .3s;
        &:hover {
            transform: scale(1.1);
        }
    }
}
